*{
    box-sizing: border-box;
    border: 1px;
    margin: auto;
    /*padding: auto;*/
    
}

@media (min-width:992px){
    
    #cont1{
        width: 30%;
    }
    #cont2{
        width: 30%;
    }
    #cont3{
        width:30%;
    }    
}
@media (min-width:768px) and (max-width:991px) {
    #cont1{
        width: 45%;
        float:left;
    }
    #cont2{
        width: 45%;
        float:right;
    }
    #cont3{
        width: ;
        margin: 20px;

    }
    
}    
@media (max-width:767px){
    #cont1{
        width: ;
    }
    #cont2{
        width: ;
    }
    #cont3{
        width: ;

    }
}

body {
    background-color: white;
}
.container1 {
    margin-top: 30px;
    position: relative;
    border: 1px;
    border-style: solid;
    border-color: black;
    background-color: gray;    
    text-align: center;
    
    height: 200px;
    float:left;
    margin-left: 20px;
    margin-right: 20px;
        
}
.topright1 {
    padding: 5px;
    
    position: absolute;
    border: 1px; 
    border-style: solid;
    border-color: black;
    top: 0px;
    right: 0px;
    font-size: 18px;
    background-color:lightcoral;
}
  

p{
    padding: 20px;
    text-align: left;
}
h1{
    text-align: center;
}
/* 2 container */

.container2 {
    margin-top: 30px;
    position: relative;
    border: 1px;
    border-style: solid;
    border-color: black;
    background-color: gray;    
    text-align: center;
    
    height: 200px;
    float:left;
    margin-left: 20px;
    margin-right: 20px;
    
}
.topright2 {
    padding: 5px;
    position: absolute;
    border: 1px; 
    border-style: solid;
    border-color: black;
    color: white;
    top: 0px;
    right: 0px;
    font-size: 18px;
    background-color:brown;
}
/* 3 container */

.container3 {
    margin-top: 30px;
    display: inline-block;
    position: relative;
    border: 1px;
    border-style: solid;
    border-color: black;
    background-color: gray;    
    text-align: center;
    
    height: 200px;
    float:left;
    margin-left: 20px;
    margin-right: 20px;
}
.topright3 {
    padding: 5px;
    position: absolute;
    border: 1px; 
    border-style: solid;
    border-color: black;
    top: 0px;
    right: 0px;
    font-size: 18px;
    background-color:yellow;
} 
